<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginform)" #loginform="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput  type="email"  name="email" ngModel placeholder="E-Mail" #matinput="ngModel" ngModel required email>
      <mat-error *ngIf="matinput.invalid">Please enter a valid email</mat-error>
      </mat-form-field>

    <mat-form-field>
      <input matInput  type="password"  placeholder="Password" name="password"  #matpassword="ngModel" ngModel required>
      <mat-error *ngIf="matpassword.invalid">Please enter a valid password</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">Login</button>
  </form>

</mat-card>
