<mat-toolbar color="primary">

  <span>REMAINDERS</span>

  <span class="spacer"></span>
  <ul>
    <li routerLink="/" ><a mat-button routerLinkActive="mat-accent">LIST </a></li>
  </ul>
  <span class="spacer1"></span>
  <ul *ngIf="isAuthenticated">
    <li routerLink="/create"><a mat-button routerLinkActive="mat-accent">NEW POST</a> </li>
  </ul>

  <ul *ngIf="!isAuthenticated">
    <a href="http://localhost:3000/api-docs/"><a mat-button routerLinkActive="mat-accent">SWAGGER API</a> </a>
  </ul>

  <ul *ngIf="!isAuthenticated">
    <li routerLink="/auth/login"><a mat-button routerLinkActive="mat-accent">LOGIN</a> </li>
  </ul>

  <ul *ngIf="!isAuthenticated">
    <li routerLink="/auth/signup"><a mat-button routerLinkActive="mat-accent">SIGNUP</a> </li>
  </ul>

  <ul *ngIf="isAuthenticated">
    <button routerLinkActive="mat-accent" (click)="Logout()">LOGOUT</button>
  </ul>






</mat-toolbar>
